header{
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 2%;

}

.navbar-icon:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: all .2500s ease-in-out; 
}


.novafilmes-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    
}
.novafilmes-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px; 
}

.novafilmes-contact-container{
    display: flex;
    align-items:center;
   
}

.novafilmes-contact-link{
    margin: 5px 10px 0 10px;
    font-size: 15px;
}
