@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
 
:root {
  --color-primary: #122640;
  /*--color-background:#E5E5E5;*/
}

* {
    box-sizing: border-box;
    font-family: 'Fenix', serif;
    
}

a, a:hover {
  text-decoration: none;
  color: unset;
}